@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

body, html {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
	color: #4b3832;
	background-color: #fff4e6; 

}
a {
	transition: 0.31s;
	text-decoration: none;
	color: #4b3832;
}
a:hover {
	color:  	#f4f3f3;
}

h1 {
	font-weight: 300;
	text-align: center;
	color: #854442;
}
header {
	background-color: #3c2f2f;
	
	height: 100%;
	padding: 0;
	margin: 0;
}
header a {
	color: #be9b7b;;
}
header a:hover {
	color: #dbdada;
}
header ul {
	font-size: 20px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 20px 0;
}

header ul li {
	padding: 0px 25px;
}

header ul li.auth span {
	padding: 0px 25px;
}
footer {
	background-color: #3c2f2f;
	color:  	#be9b7b;
	padding: 20px 0;
	display: flex;
	justify-content:center;
}


.userBio {
	padding: 0;	
	flex-grow: 2;
}
.imgProfile {
  
  width:20%;
  border-radius: 50%;   
  border: 2px solid #3c2f2f;
}
img {
  border:2px solid #3c2f2f;
  width: 100%;  
  
}
.userBio h2 {
	text-align: center;
	width: 20%;
}	
.userBio ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}
.userBio ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	width:100%;	
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:space-around;
}
.container li {
	list-style: none;
	padding: 10px;
}





.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}
.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.screenName {
	left: 21px;
	top: 6px;
  position: relative;
  display: inline-block;
}

.fakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #000000;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}