<div class="banner">
		<div class = "leftHalf">
			<p><em>ScreenCode is a <strong>social problem solving environment</strong> for coders.</em></p>
			<span>You can fix your problem with errors in code or get good experience with nice code editing, post your screen and you are welcome in our amiable society.</span>
		</div>
		<div class = "rightHalf">
			<%= image_tag "3.jpg"%>
		</div>
	</div>