<% content_for(:title, " #{@post.title}") %>
<h1 >Screencode</h1>

<div class="showPosts">
	
<h2><%= @post.title %></h2>
<p><%= @post.text %></p>


<div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
  <div class="screenName"><%= @post.title.downcase %></div>
</div>
<div class="fakeScreen">
<%= @post.code %>
</div>

</div>	