/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

body, html {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	padding: 0;
	color: #4b3832;
	background-color: #fff4e6; 
}
a {
	transition: 0.31s;
	text-decoration: none;
	color: #4b3832;
}
a:hover {
	color:  	#f4f3f3;
}

h1 {
	font-weight: 300;
	text-align: center;
	color: #854442;
}

header {
	background-color: #3c2f2f;
	
	height: 100%;
	padding: 0;
	margin: 0;
}
header a {
	color: #be9b7b;;
}
header a:hover {
	color: #dbdada;
}
header ul {
	font-size: 20px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 20px 0;
}

header ul li {
	padding: 0px 25px;
}

header ul li.auth span {
	padding: 0px 25px;
}

.container {	
	padding: 10px;
	margin: 0 auto;
	width: 75%;
}


.post {
	background: #e5dbcf;
	margin-bottom: 10px;
	border-radius: 5px;
}

.post h2 {
	font-weight: 500;
	background: #3c2f2f;
	padding: 5px 10px;
	border-radius: 5px 5px 0px 0px;
}
.post p, .settings {
	padding: 0px 10px 5px 10px;
}



.post h2 a {
	color: #be9b7b;
}

.post h2 a:hover{
	color: #dbdada;
} 

#welcome {
	font-size: 22px;
	font-weight: 300;
}

b {
	font-weight: 700;
}

footer {
	background-color: #3c2f2f;
	color:  	#be9b7b;
	padding: 20px 0;
	display: flex;
	justify-content:center;
}

.showPosts {
	padding: 20px;
	width: 75%;
	margin: 0 auto;
}
.h1 {
	text-align: center;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.screenName {
	left: 21px;
	top: 6px;
  position: relative;
  display: inline-block;
}

.fakeMenu {
	width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner {
	 background: linear-gradient(to right, rgba(245,241,236), rgba( 76,62,49));
	width: 100%;
	height: 500px;
	display: flex;
	justify-content:space-around;

}
.banner .leftHalf {
	width: 50%;
	padding: 20px;
	float: left;
}
.banner .leftHalf p{
	padding: 0;
	margin: 0;
}
.banner .leftHalf span{
	font-size: 1.5rem;
	color: #16120e;
	opacity: 0.7;

}
.banner .leftHalf p em{
	font-size: 3.5rem;
	color: #16120e;
}
.banner .rightHalf {
	width: 50%;
	padding: 20px;
	float: right;
	display: flex;
	justify-content:center;
}
.banner .rightHalf img{
	height: 100%;
	width: 80%;
	box-shadow: 10px 10px 5px #2d251d;
	
	}

	.imgProfile {
  
  width:70px;
  border-radius: 50%;  
 
 
  border: 2px solid #3c2f2f;
}
img {
  border:2px solid #3c2f2f;
  width: 100%;  
  
}

.userBio {
	padding: 0;	
	width: 30%;
	padding: 15px;
}
.userBio h2 {
	text-align: center;
}	
.userBio ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}
.userBio ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 90%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content:space-between;
}
.social ul {
	margin: 25px;
}
.social ul li {
	list-style: none;
	padding: 10px;
}

.leftPanelOfScreen {
	width: 30%;
	padding: 15px 0;
	}
.rightPanelOfScreen {
	width: 30%;
	
	padding: 15px 0;
}

